<div class="carousel">
  <img [src]="carouselImages[carouselIndex].src"/>
  <div class="imageTitleContainer">
  <span class="imageTitle">{{carouselImages[carouselIndex].title}}</span>
  </div>
  <div class="controls">
    <div class="goPrevious" (click)="onPreviousClicked()"><mat-icon>keyboard_arrow_left</mat-icon></div>
    <div class="pageCount">{{ carouselIndex + 1 }}/{{ imageCount }}</div>
    <div class="goNext" (click)="onNextClicked()"><mat-icon>keyboard_arrow_right</mat-icon></div>
  </div>
</div>
