@import "../../../assets/scss/couleurs.scss";
@font-face {
  font-family: 'Garden';
  src: url('../../../assets/fonts/flower.ttf');
}

nav {
  display: flex;
  flex-direction: column;

  & .staticItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: #e0e0e0 1px solid;
    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  & h1 {
    margin: 0;
    padding: 0.3em;
    color: $color-main;
    font-weight: bolder;
    font-family: Garden, serif;
    font-size: 4em;
    line-height: 1.1em;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
      font-size: 2.2em;
    }
  }

  & .linksItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f6f4f4;
    & a {
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 1rem;
      transition: all 0.1s ease-in-out;
      color: black;

      &:hover {
        color: $color-main;
      }
    }
  }

  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 1em;

    & .linksItems {
      display: flex;
      flex-direction: column;
      width: 100%;

      &.menuClosed {
        display: none;
        opacity: 0;
      }

      & a {
        color: black;
        padding: 1em;
      }
    }

    & div mat-icon {
      margin-right: 0.3em;
      padding: 0.3em;
      transform: scale(1.2);
      border: 1px solid #e0e0e0;
      border-radius: 0.3em;
    }
  }

  @media screen and (min-width: 768px) {
    & div mat-icon {
      display: none;
    }
  }
}

.active {
  color: $color-main !important;
}
