<h3> Bienvenue aux fans de fleurs ! </h3>

<div class="card-article">
  <h1> La <em>fleur</em>, un grand mystère ? </h1>
  <div class="card-text">
    Il y a 150 millions d’années, les plantes à fleurs firent leur apparition à la surface du globe. Elles représentent
    aujourd’hui plus de 90 % de la végétation. Longtemps mystérieuse, l’histoire de leur apparition est de mieux en
    mieux connue.
    <br/>
    Dans une lettre à l’un de ses collègues, vers la fin du XIXe siècle, le père de l’évolution, Charles Darwin,
    écrivait avec dépit qu’il butait sur un « abominable mystère » : il ne parvenait pas à comprendre l’apparition des
    plantes à fleur à la surface de la terre.
    <br/>
    Il y a 150 millions d’années, voire davantage, alors que la végétation terrestre était exclusivement composée de
    conifères, de ginkgos et probablement de milliers d’autres espèces aujourd’hui disparues (la famille des
    gymnospermes), ont surgit les angiospermes, autrement dit les plantes à fleurs. En très peu de temps à l’échelle
    biologique, celles-ci ont colonisé la surface du globe et éclipsé les séquoias et autres conifères jusqu’à
    représenter aujourd’hui plus de 90 % de la végétation et des centaines de milliers d’espèces différentes.
  </div>
</div>

<div class="card-article">
  <h1> L'histoire des <em>fleurs</em> à travers le monde. </h1>
  <div class="card-text">
    L’histoire des fleurs, ou plutôt l’idée de cueillir des végétaux pour d’autres raisons que pour les consommer
    remonte à la préhistoire. Des fleurs fossilisées ont ainsi été découvertes auprès de nombreux vestiges, attestant de
    l’importance que nos aïeux leur accordaient déjà il y a des millénaires. À cette époque, ces plantes étaient surtout
    employées lors de rites funéraires. Au fil du temps, les traditions se sont précisées dans diverses parties du
    monde. Aujourd’hui, si l’histoire des fleurs n’est pas connue de tous, les bouquets, eux, continuent à ravir celles
    et ceux à qui ils sont offerts.

    <h2> L’Egypte ancienne </h2>
    Les authentiques compositions florales semblent avoir fait leur apparition dans l’Égypte antique, en 2 500 av. J.-C.
    Elles étaient alors constituées de diverses fleurs coupées disposées dans des vases et hautement stylisées. Ces
    véritables œuvres d’art ornaient les chambres funéraires, mais elles étaient également employées en décoration
    intérieure. Des bas-reliefs gravés ainsi que des fresques attestent de cet engouement pour les bouquets les plus
    somptueux.
    <br/>
    L’histoire des fleurs ainsi que leur signification revêtait beaucoup d’importance, et les espèces étaient
    sélectionnées en fonction de leur symbolisme, en particulier religieux. La fleur de lotus, par exemple, était
    considérée comme sacrée, car elle représentait la déesse Isis. Elle faisait ainsi souvent partie des arrangements
    floraux. Les Égyptiens réalisaient aussi des guirlandes d’anémones, d’iris, de delphiniums, de narcisses, de papyrus
    et de roses. Cette dernière était très présente dans les caveaux à l’époque de Cléopâtre.

    <h2> La Grèce et la Rome antique </h2>
    Les Grecs et les Romains vouaient aux fleurs un véritable culte et avaient un faible pour les guirlandes et
    couronnes florales. Très employés pour les mariages, les arrangements floraux faisaient la part belle aux
    feuillages, baies et glands. À Rome, le laurier était bien sûr la plante réservée aux athlètes vainqueurs des Jeux
    Olympiques, mais revenait aussi aux poètes et aux militaires dont les faits d’armes étaient particulièrement
    louables. Pour les Grecs, cette couronne symbolisait pouvoir, honneur, allégeance et dévouement.
    <br/>
    Enfin, les roses étaient la fleur de prédilection lors des banquets. Les sols étaient alors entièrement recouverts
    de fleurs exhalant un parfum puissant qui dénotait la richesse des hôtes.

    <h2> L’Orient dans l’antiquité </h2>
    Dès la plus haute antiquité, surtout en Orient, les Heurs ont eu le privilège d’expliquer symboliquement les pensées
    et les sentiments de l’homme. On a d’abord été frappé de l’analogie de leur existence avec l’existence humaine, dont
    les fleurs reproduisent les différentes phases. Puis, en les étudiant dans leurs mœurs et dans leurs habitudes, on
    n’a pas tardé à trouver un grand nombre d’analogies nouvelles, et les fleurs devinrent une langue véritable, la
    charmante et douce langue du cœur.
    <br/>
    Seulement, il est à regretter que ce beau langage n’ait pas été formé toujours avec une logique plus rigoureuse :
    souvent les emblèmes sont de pure convention, ou du moins on ne sait plus saisir les rapports que les anciens
    avaient pu découvrir entre certaines fleurs et les idées ou les sentiments qu’elles symbolisent encore aujourd’hui.
    <br/>
    Il y a des fleurs qui s’ouvrent invariablement à la même heure du jour ou de la nuit. Les paysans savent cela et en
    profitent pour régler le temps. Linnée a eu l’ingénieuse idée de composer avec ces fleurs une Horloge florale :
    <div class="card-with-image">
      <div class="tableDiv">
        <table>
          <tr>
            <th> Minuit</th>
            <td> Le Cactus à grandes fleurs</td>
          </tr>
          <tr>
            <th> 1h</th>
            <td> Le Laiteron de Laponie</td>
          </tr>
          <tr>
            <th> 2h</th>
            <td> Le Salsifis jaune</td>
          </tr>
          <tr>
            <th> 3h</th>
            <td> La grande Dicride</td>
          </tr>
          <tr>
            <th> 4h</th>
            <td> La Cripide des toits</td>
          </tr>
          <tr>
            <th> 5h</th>
            <td> Emérocale fauve</td>
          </tr>
          <tr>
            <th> 6h</th>
            <td> L’Épervière frutiqueuse.</td>
          </tr>
          <tr>
            <th> 7h</th>
            <td> Le Souci pluvial</td>
          </tr>
          <tr>
            <th> 8h</th>
            <td> Le Mouron rouge.</td>
          </tr>
          <tr>
            <th> 9h</th>
            <td> Le Souci des champs</td>
          </tr>
          <tr>
            <th> 10h</th>
            <td> La Ficoïde Napolitaine</td>
          </tr>
          <tr>
            <th> 11h</th>
            <td> L'Ornithogale.</td>
          </tr>
        </table>
        <table>
          <tr>
            <th> Midi</th>
            <td> La Ficoïde glaciale</td>
          </tr>
          <tr>
            <th> 13h</th>
            <td> Œillet prolifère.</td>
          </tr>
          <tr>
            <th> 14h</th>
            <td> Épervière piloselle</td>
          </tr>
          <tr>
            <th> 15h</th>
            <td> Le Pissenlit taraxacoide</td>
          </tr>
          <tr>
            <th> 16h</th>
            <td> L’Alysse alistoïde</td>
          </tr>
          <tr>
            <th> 17h</th>
            <td> Belle de nuit</td>
          </tr>
          <tr>
            <th> 18h</th>
            <td> Géranium triste</td>
          </tr>
          <tr>
            <th> 19h</th>
            <td> Le pavot à tige nue</td>
          </tr>
          <tr>
            <th> 20h</th>
            <td> Liseron droit</td>
          </tr>
          <tr>
            <th> 21h</th>
            <td> Liseron linéaire</td>
          </tr>
          <tr>
            <th> 22h</th>
            <td> Hipomée pourpre</td>
          </tr>
          <tr>
            <th> 23h</th>
            <td> Le Siléné, fleur de nuit</td>
          </tr>
        </table>
      </div>
      <img [src]="horloge"/>
    </div>

    D’autres plantes fleurissent invariablement dans le même mois, et ont donné lieu à un Calendrier de Flore :
    <div class="card-with-image">
      <img class="calendrier" [src]="calendrier"/>

      <table>
        <tr>
          <th> Janvier</th>
          <td> Ellébore noir</td>
        </tr>
        <tr>
          <th> Février</th>
          <td> Daphné, bois gentil</td>
        </tr>
        <tr>
          <th> Mars</th>
          <td> Soldanelle des Alpes</td>
        </tr>
        <tr>
          <th> Avril</th>
          <td> Tulipe odorante des jardins</td>
        </tr>
        <tr>
          <th> Mai</th>
          <td> Spirée filipendule</td>
        </tr>
        <tr>
          <th> Juin</th>
          <td> Pavot, Coquelicot</td>
        </tr>
        <tr>
          <th> Juillet</th>
          <td> Chironie, petite Centaurée des prés</td>
        </tr>
        <tr>
          <th> Août</th>
          <td> Scabieuse des montagnes</td>
        </tr>
        <tr>
          <th> Septembre</th>
          <td> Cyclame d’Europe</td>
        </tr>
        <tr>
          <th> Octobre</th>
          <td> Millepertuis de la Chine</td>
        </tr>
        <tr>
          <th> Novembre</th>
          <td> Ximénésie encéloïde</td>
        </tr>
        <tr>
          <th> Décembre</th>
          <td> Lapésie à grappes</td>
        </tr>
      </table>
    </div>
    Au niveau de la symbolique, on a remarqué qu’une fleur présentée la corolle en haut exprime la pensée même qu’elle
    symbolise ; renversée, elle exprime la pensée contraire. La place qu’occupe une fleur détermine, précise davantage
    sa signification. Ainsi le souci, qui signifie peine, voudra dire peine d’esprit si on le place sur la tête, et
    peine de cœur ou d'amour s’il est placé sur le cœur. Le pronom moi s’exprime par l’inclinaison d’une fleur à droite
    ; en la penchant à gauche, on exprime le pronom toi.

    <h2> La Chine dans l’Antiquité </h2>
    L’Orient possède, lui aussi, une histoire des fleurs bien particulière. À l’époque de la Dynastie Han, par exemple,
    les fleurs entraient dans les enseignements religieux ainsi que dans la médecine. L’Empire chinois appréciait les
    bouquets de fleurs, mais en peignait en outre des représentations sur des vases, de la porcelaine, de la soie et de
    nombreux objets.
    <br/>
    La symbolique des fleurs occupait une place importante. La longévité était ainsi représentée par le bambou, le
    pêcher et le poirier. La fertilité avait pour symbole le lys tigré, la grenade et l’orchidée. Quant à la pivoine,
    elle est encore aujourd’hui considérée comme la reine des fleurs en Chine, où elle indique la richesse, la chance et
    un statut respectable.

    <h2> L'Europe </h2>
    Au Moyen-Age, les moines avaient la réputation d’entretenir de magnifiques jardins fleuris de plantes médicinales.
    L’histoire des fleurs en Europe commence donc dans des circonstances purement pratiques, même si des arrangements
    floraux sont aussi employés lors des cérémonies religieuses.
    <br/>
    À la Renaissance, les compositions sont sculpturales, avant d’adopter des formes plus structurées à la période
    Baroque. En France, la mode est alors aux conformations géométriques et aux couleurs riches et abondantes. Les
    arrangements victoriens, quant à eux, se prêtent à diverses interprétations. C’est à ce moment de l’histoire des
    fleurs que se répand le concept de la livraison de fleurs.
    <br/>
    L’époque victorienne, très friande de bouquets, remet au goût du jour le langage des fleurs et applique un code très
    strict pour chaque fleur offerte.
  </div>

</div>


<div class="card-article">
  <h1> Le pouvoir des <em>fleurs</em> à travers l'histoire </h1>
  <div class="card-text">
    <h2> Le lotus, un modèle pour les bouddhistes </h2>
    Cette fleur est l’objet d’innombrables croyances en Asie. Pour les hindous, le dieu Brahma est né dans un lotus qui
    a jailli du nombril d’une autre divinité́, Vishnou… Les bouddhistes, eux, voient en cette fleur sacrée une métaphore
    de la condition humaine. Car si le lotus s’enracine dans la boue des étangs, sa fleur parvient à traverser leurs
    eaux fangeuses et à s’élever, immaculée, au-dessus d’elles, tendant ses pétales vers le ciel… De la même manière,
    l’être humain doit s’extraire de la boue de son existence matérielle pour s’élever spirituellement. D’où la position
    du lotus, jambes ouvertes comme des pétales, qu’adoptent les bouddhistes mais aussi les adeptes du yoga pour
    méditer.

    <h2> Les Deux-Roses, l’autre guerre de trente ans </h2>
    En 1455 commence en Angleterre une terrible guerre civile. Elle oppose deux branches de la dynastie des Plantagenêt
    : d’un côté́ les Lancastre, avec la rose rouge pour emblème, de l’autre les York à la rose blanche. Henri Tudor,
    dernier des Lancastre, l’emporte finalement en 1485, épouse une princesse de York et adopte, en signe d’apaisement,
    un blason orné d’une rose rouge au cœur blanc.

    <h2> Avec un chrysanthème pour seule arme </h2>
    Durant les années 1960, aux Etats-Unis, les hippies opposés à la guerre du Vietnam adoptent un drôle de slogan :
    Flower Power, « le pouvoir de la fleur » ! Et le 21 octobre 1967, ce mouvement trouve son icône. À Washington, lors
    d’une manifestation, une jeune lycéenne de 17 ans, Jan Rose Kasmir, s’agite et danse devant les soldats gardant le
    Pentagone. Elle tient dans ses mains un chrysanthème. Couvrant l’événement, le photographe français Marc Riboud
    capture le moment magique où elle approche la fleur à quelques centimètres de l’arme d’un garde. Ce cliché d’un
    face-à-face entre une fleur et un fusil deviendra le symbole du mouvement pacifiste et de la jeunesse, quelques
    mois avant le printemps de Mai 68.

    <h2> Giroflées et bleuets en souvenir de 1914-1918 </h2>
    En 1918, le président du Conseil, Georges Clemenceau, rend visite aux troupes en Champagne. Sur son passage, une
    main robuste lui tend un petit bouquet. Ce sont des giroflées des murailles, des fleurs sauvages poussant dans la
    roche, cueillies à la hâte par un soldat avant son arrivée. Clemenceau les conservera précieusement jusqu’à la fin
    de sa vie. Après sa mort, à sa demande, elles l’accompagneront dans son cercueil. D’autres fleurs, les bleuets, ont
    aussi incarné la Grande Guerre. À partir de 1916, ils sont adoptés par l’arrière en signe de soutien aux jeunes
    soldats, surnommés « les bleuets ».

    <h2> L’iris de Clovis est devenue la fleur de lys </h2>
    Au VIe siècle, Clovis se bat contre les Wisigoths, peuple germanique venu des Balkans. En 507, au début de la
    bataille de Vouillé́ (près de Poitiers), les « barbares » le pourchassent mais il parvient à leur échapper. Selon
    une légende, il doit son salut à un buisson d’iris jaunes des marais qui borde la rivière et l’aurait caché… Après
    la bataille, victorieuse, le Mérovingien troque les crapauds qui ornent ses armoiries pour cette fleur printanière.
    Vers 1150, Louis VII reprend ce thème sur son blason. L’emblème royal est né. Cette représentation géométrique de
    l’iris aurait d’abord été́ appelée « fleur de Louis » puis « fleur de Loys » et enfin « fleur de lys ».

    <h2> Le muguet du maréchal Pétain </h2>
    Avant la Deuxième Guerre mondiale, on s’offrait des églantines rouges pour le 1er mai. Cette fleur couleur sang
    rappelait la répression par l’armée de la manifestation du 1er mai 1891 à Fourmies, dans le Nord, qui avait fait
    dix victimes. Mais, en 1941, le maréchal Pétain veut faire oublier ce symbole subversif : à la place des
    églantines, il choisit le muguet. Déjà̀ symbole du printemps depuis Charles IX, la fleur à clochettes avait été́
    distribuée par les grands couturiers lors d’une fête, le 1er mai 1900, aux employées de leurs maisons, y compris les
    petites mains.

    <h2> La légende érotique de l’orchidée </h2>
    Dans la mythologie grecque, Orchis est le fils d’une nymphe et d’un satyre. Et ce jeune homme ne pense qu’à la
    bagatelle. Ayant séduit une prêtresse de Bacchus, il est condamné à la lapidation. Ses parents interviennent et
    obtiennent des dieux qu’il ait la vie sauve. Mais il sera transformé́ en fleur : l’orchidée. Et la plante gardera
    une trace de cette origine : les tubercules jumelés de certaines variétés ont la forme de bourses – le grec ancien
    orchis signifiant « testicule » …

    <h2> Les Écossais sauvés par le chardon </h2>
    Une curieuse légende a fait de cette mauvaise herbe l’emblème de la fière Ecosse. L’histoire se déroule lors de l’un
    des nombreux raids menés par les Vikings sur cette terre à partir de la fin du VIIIe siècle. Une nuit, les
    assaillants débarquent sur les rivages de la mer du Nord. Pour faire moins de bruit, ils ôtent leurs bottes. Mais un
    Viking pose le pied sur un chardon épineux et pousse un cri de douleur. Son hurlement alerte les gardes écossais,
    qui parviendront à repousser leurs ennemis. Aujourd’hui, le chardon orne les maillots des rugbymans écossais et
    aussi les billets de banque locaux.
  </div>
</div>

<div class="card-article">
  <h1><em>Fleurs</em> porte-bonheur par mois de naissance </h1>
  <div class="card-text">
    <div class="card-with-image">
      <table>
        <tr>
          <th> Janvier</th>
          <td> Oeillet et Perce-Neige</td>
        </tr>
        <tr>
          <th> Février</th>
          <td> Primevère</td>
        </tr>
        <tr>
          <th> Mars</th>
          <td> Jonquille</td>
        </tr>
        <tr>
          <th> Avril</th>
          <td> Marguerite</td>
        </tr>
        <tr>
          <th> Mai</th>
          <td> Muguet</td>
        </tr>
        <tr>
          <th> Juin</th>
          <td> Rose</td>
        </tr>
        <tr>
          <th> Juillet</th>
          <td> Lis</td>
        </tr>
        <tr>
          <th> Août</th>
          <td> Glaïeul</td>
        </tr>
        <tr>
          <th> Septembre</th>
          <td> Aster</td>
        </tr>
        <tr>
          <th> Octobre</th>
          <td> Dahlia</td>
        </tr>
        <tr>
          <th> Novembre</th>
          <td> Chrysanthème</td>
        </tr>
        <tr>
          <th> Décembre</th>
          <td> Houx</td>
        </tr>
      </table>
      <img class="trefle" [src]="trefle"/>
    </div>
  </div>
</div>




