@import "../fleurs/fleurs.component.scss";

.eventTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
}

.back {
  color: $color-main;
  transition-duration: 0.5s;
  cursor: pointer;
  width: fit-content;
  padding: 0.5em 1em 0.5em 0.5rem;
  margin: 1rem;
  border-radius: 3rem;
  border: 1px #e8e8e8 solid;

  &:hover,:active {
    color: $color-main-hover-light;
    text-decoration: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }
}

.noComment {
  color: #9b9b9b;
  font-size: 1.1rem;
  margin: 1.4em;
  font-style: italic;
  font-weight: lighter;
}
